body {
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}

.catalogItem {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 200px;
    width: 50%;
    margin: 20px auto;
    border: solid 1px black;
    justify-content: space-between;
}

.catalogItemText {
    padding: 20px;
}

.catalogItem h1 {
    font-size: 25px;
    font-weight: 700;
}

.catalogItem p {
    font-size: 15px;
    font-weight: 300;
}

.catalogItem img {
    height: 198px;
    float: right;
    margin: 0;
}

@media only screen and (max-width: 800px) {
    .catalogItem {
        flex-direction: column;
        height: auto;
    }
    .catalogItem img {
        height: auto;
        width: 100%;
    }
}